################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EHospital.Notification.WebAPI/.vs/EHospital.Notification.WebAPI/v15/Server/sqlite3
